// NOTE: 
// Initialise the values of the params to the preferred default value or to false
params {
	script = "ls -la"
	reps = 2
	outdir = 'results'
	config = 'conf/standard.config'
	echo = true
	memory = '2 GB'
	cpus = 1
	errorStrategy = 'terminate'
	maxForks = 200
	container = 'quay.io/lifebitai/cudaflow:10.0-cudnn7-devel'
	queueSize = 200
	executor = 'local'
	network = 'default'
	subnetwork = 'default'
	zone = 'us-east1-b'
	gls_bootDiskSize = 50.GB
	gls_preemptible = true
	aws_batch_process_queue = 'test'
	}

profiles {
	standard {includeConfig params.config}
}

process {
    echo = params.echo
    errorStrategy = params.errorStrategy

  withLabel: with_cpus {
    container = params.container
	cpus = params.cpus
	memory =  params.memory
  }
}

